{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome {{ request.user }}!</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% if contact_user.subscribed_mail %}
    <p><a href="{% url 'unsubscribe' %}">Unsubscribe from mailing list</a></p>
    <p>Subscribe to the mailing list</p>
    {% else %}
    <p>Unsubscribe from mailing list</p>
    <p><a href="{% url 'subscribe' %}">Subscribe to the mailing list</a></p>
    {% endif %}
    <p><a href="{% url 'send_one_email' %}">Send me one email</a></p>
    <p><a href="{% url 'send_email_form' %}">Send email form</a></p>


{% endblock %}